.App {
  text-align: center;
  background: yellow;
}
/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background: black;
  color: white;
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

/* HOME */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home  h1{
  text-decoration: underline;
  font-family: fantasy;
  font-size: 9em;
}

#home  h3 {
  font-family: cursive;
}

img {
  width: 600px;
  display: block;
}
.app-about {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: cyan;
  line-height: 27px;
  border-radius: 10px;

}

.app-about  h2 {
  font-family: sans-serif;
}
.app-about  p {
  text-align: center;
}
/* Content */

#venue-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.venue-card img {
    width: 50vmin;
    height: 50vmin;
    min-width: 200px;
    min-height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

/* BOOKING */

.booking {
  font-family: 'Sansita-Swashed';
  text-align: center;

}
/* Footer */
.footer-container {
  display: flex;
  justify-content: center;
  background: black;
  text-align: center;
  color: white;
  margin-bottom: 0;
}
